.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
}

.todos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}